doctype html
include /../../static/assets/lib/ldui/pug/ldui.pug
html
  head
    +css("/assets/lib/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("/assets/lib/ldui/ldui.min.css")
    style(type="text/css"): :stylus
      .article-header { margin: 3em 0 }
      .comments-title, .commentlist, #comments-title, .no-comments, #sidebar1 { display: none }
      .next-prev-post, .article-footer, .tag-links { display: none }
      .related.posts { display: none }
      .related.posts ul { list-style-type: none; padding-left: 0 }
      .related.posts ul li { margin-bottom: 1em;}
      .byline.vcard { display: none }
      img
        max-width: 100%
        margin: 2em auto
        display: block
        box-shadow: 0 2px 4px rgba(0,0,0,.3)
        border-radius: 5px
        overflow: hidden
  body
    .w-1024.mx-auto.rwd.typeset.heading-contrast(style="padding:24px")
      block body
